@font-face {
  font-family: 'ComicSansMS';
  src: url('../fonts/ComicSansMS.eot?#iefix') format('embedded-opentype'),  url('../fonts/ComicSansMS.woff') format('woff'), url('../fonts/ComicSansMS.ttf')  format('truetype'), url('../fonts/ComicSansMS.svg#ComicSansMS') format('svg');
  font-weight: normal;
  font-style: normal;
}
.signup{
	width:100%;
	float:left;
	background:#efefef;
	}
.content{
	width:100%;
	float:left;
	}
.test_page_title{
	/*width:180%;*/
	
	background:#70c0fd;
        margin:0 auto;
float:left;
  margin-left: 100px;
	}
.test_page_title h1 {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0 15px 0;
    text-align: center;
    width: 100%;
}
.test_page_title h2 {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 5px 0 20px;
    text-align: center;
    width: 100%;
}
.test_page_form{
	width:100%;
	float:left;
	}
.test_form_title{
	width:100%;
	float:left;
	}
.test_form_title p{
	width:100%;
	font-size:18px;
	float:left;
	margin:0;
	padding:15px 0;
	color:#000;
	}
.test_form_header{
	width:100%;
	float:left;
	}
.test_form_header ul{
	width:100%;
	float:left;
	}
.test_form_in{
	width:100%;
	float:left;
	}
.form-agree{
	margin:0 !important;
	border:none !important;
	}
.form-table input[type="radio"]{
	width:70px;
	}
.test_form_in .nav-tabs li{
	width:12% !important;
	text-align:center;
	border:none !important;
	padding-bottom:14px;
	}

.test_form_in .nav-tabs li a {
    border-radius: 0 !important;
    border-right: 1px solid #fff !important;
    font-size: 16px;
    font-weight: bold;
}
.form-table tr{border-bottom:1px solid #ffb903;}
.form-table td{font-size:15px; font-weight:bold;}
.form-table tr:last-child{border-bottom:none;}
.continue_button{
	width:auto;
	float:right;
	padding:10px 0;
	}
.continue_button input{
	width:250px!important;
	padding:15px 0!important;
	background:#ffe703!important;
	border-radius:5px;
	-moz-border-radius:5px!important;
	-ms-border-radius:5px!important;
	-o-border-radius:5px!important;
	-webkit-border-radius:5px!important;
	box-shadow:0px 5px 0 #916603!important;
	-moz-box-shadow:0px 5px 0 #916603!important;
	-ms-box-shadow:0px 5px 0 #916603!important;
	-o-box-shadow:0px 5px 0 #916603!important;
	-webkit-box-shadow:-1px 5px 0 #916603!important;
	border:none!important;
	font-weight:bold!important;
	font-size:15px!important;
	float:left!important;
	}
.right_arrow{
	float:left;
width: 20%;
padding: 5% 8%;
	background: url(../images/right-arrow.png) right center no-repeat;
	}
.left_arrow{
	float:left;
	width: 20%;
padding: 5% 8%;
	background: url(../images/left-arrow.png) left center no-repeat;
	}
	
	
/*========================================================================================================================*/
/*====================================================Sign-up=============================================================*/
/*========================================================================================================================*/

.signup_title{
	width:100%;
	float:left;
	}
.signup_title h1 {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0 15px;
    text-align: center;
    width: 100%;
}
.signup_title h2 {
    color: #000;
    float: left;
    font-size: 22px;
    margin: 0;
    padding: 15px 0;
    width: 100%;
}
.signup_left{
	width:111%;
	float:left;
	background:url(../images/img-right.png) right center no-repeat;
	padding:0 52px 0 0;
	}
.signup_left_in{
	width:100%;
	float:left;
	height: 315px;
	background:url(../images/signup-img.png) right center no-repeat;
	}
	.signup_left_in1{
	background:url(../images/signup-img.png) right center no-repeat;
	}
.signup_left_in img{
	width:100%;
	float:left;
	}
.signup_right{
	width:100%;
	float:left;
	padding:30px 0 0 0;
	}
.signup_right input[type="text"]{
	width:100%;
	float:left;
	height:38px;
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ccc;
	padding:0 15px;
	margin-bottom:20px;
	}
.signup_continue_button input[type="submit"]{
	width:250px!important;
	padding:15px 0!important;
	background:#ffe703!important;
	border-radius:5px!important;
	-moz-border-radius:5px!important;
	-ms-border-radius:5px!important;
	-o-border-radius:5px!important;
	-webkit-border-radius:5px!important;
	box-shadow:0px 5px 0 #916603!important;
	-moz-box-shadow:0px 5px 0 #916603!important;
	-ms-box-shadow:0px 5px 0 #916603!important;
	-o-box-shadow:0px 5px 0 #916603!important;
	-webkit-box-shadow:-1px 5px 0 #916603!important;
	border:none!important;
	font-weight:bold!important;
	font-size:14px!important;
	float:left!important;
	}
.signup_right_arrow {
float: left;
background: url(../images/right-arrow.png) right center no-repeat;
padding: 16px 5px;
margin: 0% 0% 0% 4%;
width: 18%;
}
.signup_right_arrow img{
    float: left;
    width:50px;
}
.signup_let_arrow{
    /* float: left; */
/* padding: 16px 5px; */
float: right;
background: url(../images/left-arrow.png) left center no-repeat;
padding: 16px 5px;
margin: 0% 0% 0% 4%;
width: 18%;
}
.signup_let_arrow img{
    float: left;
    width:50px;
}
.security_icon{
	width:100%;
	float:left;
	margin:10px 0 0 0;
	background: url(../images/security_icon.png) left center no-repeat;
	}
.security_icon img{
	width:auto;
	float:left;
	}
.security_icon > p {
    float: left;
    font-size: 12px;
    padding-left: 25%;
    padding-top: 15px;
}
.credit_icon{
	width: 100%;
	float: left;
	background: url(../images/creditcard_icon.png) left center no-repeat;
	margin-left: 12%;
	}
	
.credit_icon img{
	width:auto;
	float:left;
	margin-left:40px;
	}
.credit_icon > p {
    float: left;
    font-size: 12px;
    padding-left: 13%;
    padding-top: 10px;
}

.start_ami {
display: table;
width: 7%;
height: 23px;
float: left;
background: url(../images/star.png) left center no-repeat;
margin: 0% 1% 1% 2%;
}
/*========================================================================================================================*/
/*====================================================result-page=========================================================*/
/*========================================================================================================================*/

.result_title{
	width:100%;
	float:left;
	}
.result_title h1 {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0 15px;
    text-align: center;
    width: 100%;
  font-family: 'ComicSansMS';
  font-weight: 600;
  font-size: 38px;
}
.test_result_header{
	width:100%;
	float:left;
	margin:30px 0 0 0;
	border-bottom:1px solid #000;
	}
.test_result_header h4{
	width:100%;
	text-align:right;
	font-size:22px;
	color:#000;
	}
.test_box{
	width:100%;
	float:left;
	}
.result_page{
	/*width:100%;*/
	
	background:#70c0fd;
 margin:0 auto;
float:left;
  margin-left: 100px;
	}
.test_left{
	width:100%;
	float:left;
	}
.test_left_img{
	width:100%;
	float:left;
	}
.test_left_img h2{
	color: #000;
    float: left;
    font-size: 18px;
    margin: 0;
    padding: 15px 0;
    width: 100%;
	}
.test_left_img_in{
	width:100%;
	float:left;
	}
.test_left_img h2 img{
	margin-top:-5px;
	}
.test_left_img_in img {
    float:left;
    width: 100%;
}
.test_left_img_in h3 {
    color: #000;
    float: left;
    font-size: 18px;
    margin: 0;
    padding:5px 0;
    width: 100%;
}
.test_left_img_in p {
    color: #000;
    float: left;
    font-size: 14px;
    margin: 0;
    padding:5px 0;
    width: 100%;
}
.test_left_img_in h4 {
    color: #597eaa;
    float: left;
    font-size: 18px;
    margin: 0;
    padding:5px 0;
    width: 100%;
}
.result_score{
	width:100%;
	float:left;
	background:url(../images/arrow-1.png) right center no-repeat;
	padding:0 15px;
	}
.test_right{
	width:100%;
	float:left;
	}
.test_right_in{
	width:100%;
	float:left;
	padding:15px;
	margin:15px 0;
	background:#ffe599;
	border:1px solid #000;
	}
.test_right_in p{
	width:100%;
	float:left;
	font-size:14px;
	}
.test_right_in ul{
	width:100%;
	float:left;
	}
.test_right_in ul li{
	width:100%;
	float:left;
	}

/*========================================================================================================================*/
/*====================================================media-screen========================================================*/
/*========================================================================================================================*/




@media screen and (max-width:1024px){
	.signup_continue_button input[type="submit"] {width: 236px;}
	}
@media screen and (max-width:767px){
	.result_title h1 {font-size: 20px;}
	.test_result_header h4 { text-align: left;}
.result_score {background: none;}
.signup_left {
    background: none; padding: 0;}
	.nav > li > a { padding: 5px 0;}
	.test_form_in .nav-tabs li a { font-size: 14px;}
	}
@media screen and (max-width:480px){
	.signup_continue_button input[type="submit"] {width: 165px;}
	.signup_continue_button input[type="submit"] {font-size: 11px;}
	.test_page_title h1 {font-size: 22px;}
	.test_page_title h2 {font-size: 20px;}
	.test_form_in .nav-tabs li {width: 100% !important;}
	.test_form_in .nav-tabs li.active { background: none;padding:0;}
	.test_form_in .nav-tabs li { background: none;padding:0;}
	.right_arrow > img {width: 35px;}
	.left_arrow > img {width: 35px;}
	.continue_button input { width: 176px;}
	}

/*............By Amin KHAN..................*/
.signup_continue_button {
margin: 6% 0% 6% 0%;
float: left;
width: 100%;
}

.result_title h1 {
  font-family: 'ComicSansMS';
  font-weight: 600;
  font-size: 38px;
}

.test_result_header h6 {
  text-align: center;
  font-family: 'ComicSansMS';
  font-weight: 700;
  font-size: 28px;
  padding: 70px 0 0 0;
  margin: 0 0 10px 0;
}

.result_score_page h4 {
  font-family: 'ComicSansMS';
  font-weight: 600;
}

.result_score_page p {
  font-family: 'ComicSansMS';
  font-weight: 600;
}
.test_result_header h4 {
  text-align: center;
  font-family: 'ComicSansMS';
  font-weight: 700;
  font-size: 28px;
  margin: 0 0 10px 0;
}
.test_page_title {
  background: #70c0fd none repeat scroll 0 0;
  float: left;
  width: 100%;
  margin: 0;
}
.result_page {
  background: #70c0fd none repeat scroll 0 0;
  float: left;
  margin: 0;
  width: 100%;
}
.result_title {
  background: #aedaf7;
  background: -moz-linear-gradient(top, #aedaf7 0%, #7db8e2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aedaf7), color-stop(100%,#7db8e2));
  background: -webkit-linear-gradient(top, #aedaf7 0%,#7db8e2 100%);
  background: -o-linear-gradient(top, #aedaf7 0%,#7db8e2 100%);
  background: -ms-linear-gradient(top, #aedaf7 0%,#7db8e2 100%);
  background: linear-gradient(to bottom, #aedaf7 0%,#7db8e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aedaf7', endColorstr='#7db8e2',GradientType=0 );
  padding: 10px 0;
}

.active a{
	  background-color: #ECECEC;
}

.arrowDown {
	width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    margin: auto;
}

.wpProQuiz_catOverview span {
    font-family: 'ComicSansMS';
    font-weight: bold;
}

/*
.active_class1 a {
  background: #6837b5 !important;
  color: #fff !important;
}
.finance_class {
  background: #6837b5 !important;
  color: #fff !important;
}
.health_class {
  background: #046204 !important;
  color: #fff !important;
}
.social_class {
  background: #ff7304 !important;
  color: #fff !important;
}
.spirit_class {
  background: #ffba03 !important;
  color: #fff !important;
}
*/
/*
.active_class1.active {
  background: url(../images/class1.png) bottom center no-repeat !important;
}
.active_class2.active {
  background: url(../images/class2.png) bottom center no-repeat !important;
}
.active_class3.active {
  background: url(../images/class3.png) bottom center no-repeat !important;
}
.active_class4.active {
  background: url(../images/class4.png) bottom center no-repeat !important;
}
.test_form_in .nav-tabs li.active{
	background:url(../images/down-arrow.png) bottom center no-repeat;
	}
*/